{% extends 'game/base_dashboard.html' %}
{% load static %}

{% block content %}


                <!-- Begin Page Content -->
                <!-- TEST -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Glossaire</h1>
                    <p class="mb-4">L'ensemble des indicateurs décrits et vocabulaire</a>.</p>

                    <!-- Infos Module Analyse2 (DashBoard) -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">Module DashBoard</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample">
                            <div class="card-body">
                                Vision globale des principaux KPI du compte Twitter analysé :
                                
                                <ul>
                                    <li>Bouton "Exporter les données" : export CSV de l'intégralité des Tweets (et données associées) du compte Twitter analysé sur la période d'analyse</li>
                                    <li>Encarts entête : Followers, Friends, Tweets, Nombre Moyen de Retweets par Tweet</li>
                                    <li>Tweets Overtime : Nombre de Tweets par mois, Nombre de Likes par Tweet par mois, Nombre de Retweets moyen par Tweet par mois </li>
                                    <li>Repartition : entre part de Followers et part de Friends en pourcentage</li>
                                    <li>Statistiques : pourcentage de Retweets, part Followers et Friends en pourcentage, pourcentage de Tweet avec au moins un hashtag, pourcentage de jours avec au moins un Tweet sur la période analysée</li>
                                    <li>Meilleur Tweet : tweet le plus liké au cours de la période d'analyse</li>
                                    <li>Compte Twitter : informations générales à porpos du compte Twitter étudié : photo, description, nom, lien</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Analyse2 (DashBoard) -->



                    <!-- Infos Module Tweets - Visualisation Globale -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                            <h6 class="m-0 font-weight-bold text-primary">Module Tweets - Visualisation globale</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample2">
                            <div class="card-body">
                            <ul>
                                <li>Bouton "Exporter les données" : export CSV de l'intégralité des Tweets (et données associées) du compte Twitter analysé sur la période d'analyse</li>
                                <li>Encarts entête : Tweets, Tweets/Jour, Que mettre, Nombre Moyen de Retweets par Tweet</li>
                                <li>Tweets Overtime : Nombre de Tweets par mois, Nombre de Likes par Tweet par mois, Nombre de Retweets moyen par Tweet par mois </li>
                                <li>Meilleur Tweet : tweet le plus liké au cours de la période d'analyse</li>
                                <li>Repartition : entre part de Tweets et de Retweets en pourcentage</li>
                                <li>Tableau : vision globale (tableau) de l'intégralité des Tweets et des données associées</li>

                            </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Tweets - Visualisation Globale -->





                    <!-- Infos Module Tweets - Tables -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample3" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample3">
                            <h6 class="m-0 font-weight-bold text-primary">Module Tweets - Tableau</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample3">
                            <div class="card-body">
                            <ul>
                                <li>Bouton "Exporter les données" : export CSV de l'intégralité des Tweets (et données associées) du compte Twitter analysé sur la période d'analyse</li>
                                <li>Tableau : vision globale (tableau) de l'intégralité des Tweets et des données associées</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Tweets - Tables -->





                    <!-- Infos Module Tweets - Nuage sémantique -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample4" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample4">
                            <h6 class="m-0 font-weight-bold text-primary">Module Tweets - Nuage sémantique</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample4">
                            <div class="card-body">
                            <p>
                            Ce module est en refonte depuis le déploiement de l'application. 
                            Fonctionnalités attendues : analyse des mots uniques, analyse sentimentale, analyse sémantique...
                            </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Tweets - Nuage sémantique -->


                    <!-- Infos Module Tweets - Géolocalisation -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample5" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample5">
                            <h6 class="m-0 font-weight-bold text-primary">Module Tweets - Géolocalisation</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample5">
                            <div class="card-body">
                            <p>
                            Ce module sera développé prochainement...
                            Fonctionnalités attendues : visualisation géographique des Tweets et données associées...
                            </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Tweets - Géolocalisation -->

                    
                    
                    <!-- Infos Module Tweets - Rapports -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample6" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample6">
                            <h6 class="m-0 font-weight-bold text-primary">Module Tweets - Rapports</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample6">
                            <div class="card-body">
                            <p>
                            Ce module sera développé prochainement...
                            Fonctionnalités attendues : rapports personnalisés en fonction de paramètres (dates, filtres, metrics, dimensions, format...)
                            </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Tweets - Rapports -->



                    


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



</body>




{% endblock %}