{% extends 'game/base_dashboard.html' %}
{% load static %}

{% block content %}


                <!-- Begin Page Content -->
                <!-- TEST -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Glossaire</h1>
                    <p class="mb-4">L'ensemble des indicateurs décrits et vocabulaire</a>.</p>

                    <!-- Infos Module Analyse2 (DashBoard) -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">Module DashBoard</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample">
                            <div class="card-body">
                                Vision globale des principaux KPI du compte Twitter analysé :
                                
                                <ul>
                                    <li>Encarts entête : Followers, Friends, Tweets, Nombre Moyen de Retweets par Tweet</li>
                                    <li>Tweets Overtime :</li>
                                    <li>Repartition : Nombre de Tweets, Nombre moyen de Likes par Tweets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Analyse2 (DashBoard) -->


                    <!-- Infos Module Tables -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                            <h6 class="m-0 font-weight-bold text-primary">Module DashBoard</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCardExample2">
                            <div class="card-body">
                                Vision globale (tableau) de l'intégralité des Tweets
                            </div>
                        </div>
                    </div>
                    <!-- END Infos Module Tables -->
                    


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



</body>




{% endblock %}