{% extends 'game/base.html' %}
{% load static %}
{% block content %}

<head>
<!-- Test import CSS card uniquement hors template sb admin 2 : TEST VALIDE-->
<link rel="stylesheet" href="{% static 'game/styles.css' %}" />
</head>

<p>MAJ : </p>

<p>07/03/2022 : <ul>
    <li>Module Tables - Set up DataTables liste Tweets</li>
    <li>Définition du planning d'actions</li>
</ul>

<p>27/02/2022 : <ul>
    <li>Module Analyse2 widget ChartArea - objet ratioLikesPerTweetPerMonth</li>
    <li>FAQ - Widget menu déroulant fixé en hidden au chargement de la page</li>
</ul>

<p>27/02/2022 : <ul>
    <li>Verification matching datas module Analyse2 widget Chart Area</li>
    <li>Test menu déroulant module FAQ / Glossaire</li>
    <li>Remontée du widget Best Tweet à la place de @CompteTwitter</li>
    <li>Module Encarts Top set up widget Nombre moyen de Retweets par Tweet</li>
    <li>Module Analyse2 Widget Projects - object %Friends Followers </li>
</ul>

<p>23/02/2022 : <ul>
    <li>Rework lien base_dashboard.html -> glossaire / faq / tables</li>
    <li>Envoie des datas (tweets) vers tables.html </li>
</ul>

<p>20/02/2022 : <ul>
    <li>Tests fonction scrap/update</li>
    <li>Mise en place des pages FAQ / Glossaire </li>
    <li>Module analyse widget Projects - barre ratio + widget Best Tweet - embedded Tweet </li>
</ul>

<p>17/02/2022 : <ul>
    <li>Footer intégré aux templates base et base_db HTML</li>
    <li>Mise en place du widget export csv sur le module analyse2 (dashboard)</li>
</ul>
<p>16/02/2022 : <ul>
    <li>Division base.html dashboard / hors dashboard</li>
    <li>Developpement du template index db : widget area-pie / area-chart / "Illustrations"</li>
</ul>

<p>10/02/2022 : <ul>
    <li>Refonte lien différentes pages (url/id)</li>
    <li>Dashboard lié à un seul compteTwtter</li>
    <li>Switch Design</li>
    <li>Template DB : dashboard analyse index / tables</li>
</ul>
</p>
<p> 31/01/2022 : Initialisation switch design SB ADMIN 2</p>
<p> 29/01/2022 : SCRAP - fonction update(username)</p>
<p> 20/01/2022 : ANALYSE - tests fonction scrap() + GAME - recup datas onClick ajax</p>
<p> 17/01/2022 : GENERAL - changement barre de navigation (sections) + ANALYSE ajout colonnes tableau analyse Tweets</p>
<p> 12/01/2022 : GAME - Refonte fonction scrap(username) + page Analyse (tableau jQuery)</p>
<p> 07/01/2022 : ANALYSE - Initialisation module Analyse</p>
<p> 04/01/2022 : GAME - Refonte BDD objet Jeu </p>
<p> 23/12/2021 : GAME - Randomisation du placement des cartes
GAME - Récupération / affichage du résultat </p>


{% endblock %}
