{% extends 'game/base_dashboard.html' %}
{% load static %}

{% block content %}


                <!-- Begin Page Content -->
                <!-- TEST -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Paramètres</h1>
                    <p class="mb-4">Informations personelles et paramètrs de comptes</p>


                    


                    <div class="row">

                    
                        

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Paramètres</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                <div class="text-center">
                                <p>Compte utilisateur anonyme (test)</p>


                                    </div>

  
                                </div>
                            </div>
                        </div>

                        <!-- End Widget Area -->

						
						




                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



</body>





{% endblock %}