{% extends 'game/base_dashboard.html' %}
{% load static %}

{% block content %}


                <!-- Begin Page Content -->
                <!-- TEST -->

                <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Tweets - {{ Dict.compteTwitter.username }}</h1>
                    <a href="{% url 'export_csv' Dict.compteTwitter.id_compteTwitter %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>
                    

                    <p class="mb-4">Vous pouvez visualiser/exporter l'intégralité des Tweets de <strong>{{ Dict.compteTwitter.username }}</strong> sur ce module </p>

                    <!-- DataTales -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des Tweets de {{ Dict.compteTwitter.username }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">






                    <!-- DATA tables en brut -->

                    <table id="myTable" class="display">
                        <thead>
                            <tr>
                                <th>Date de création</th>
                                <th>Texte</th>
                                <th>Nombre de like</th>
                                <th>Nombre de retweet</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in Dict.compteTwitter.tweet_set.all %}
                            <tr>
                                <td>{{ t.created_at }}</td>
                                <td>{{ t.text }}</td>
                                <td>{{ t.nb_like }}</td>
                                <td>{{ t.nb_rt }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

</body>


<!-- Scripts / Libs nécessaires pour DataTables -->
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    </script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<!-- END Scripts / Libs nécessaires pour DataTables -->

{% endblock %}